{% extends "base.html" %} {% block content %}
<section class="hero-section">
  <div class="hero-text">
    <h1 class="hero-title">
      About
    </h1>
  </div>
  <div class="hero-description">
    <p>
      Halide Compression was founded to address a core need that a vast quantity
      of Web companies face: delivering high-quality images at scale is hard,
      and new compression tech should make it easier, but often doesn't. We
      develop solutions to this problem.
    </p>
  </div>
</section>
<div class="image-container">
  <picture>
    <img
      src="/img/hero/plant-med.avif"
      width="1536"
      height="864"
      alt="Sprouting Plant"
    />
  </picture>
</div>
<h1>
  Our Goal
</h1>
<p>
  In short, we want to be your one-stop shop for image compression consulting
  and services. Companies like us already exist for video; video compression is
  expensive, and has garnered a rich ecosystem around its needs. There are a
  significant number of integrators who will help video businesses scale,
  offering cloud encoding solutions, high-quality licensed encoders, and more.
  Images often don't see the same love.
</p>
<p>
  At Halide Compression, our aim is to provide industry-leading products and
  expert consulting services to help companies where images matter. We want to
  play a significant role in powering a modern image compression ecosystem in
  order to help us all collectively move away from legacy standards. Newer image
  standards paired with top-tier implementations provide a faster, lighter, and
  more beautiful Web.
</p>
<h1>
  Contact Us
</h1>
<p>
  We are reachable via the email address linked below. We hope to hear from you
  soon!
</p>
<div class="call-to-action">
  <a href="mailto:mail@halide.cx" class="cta-button">Email Us</a>
</div>
{% endblock content %}
