{% extends "base.html" %} {% block content %}
<section class="hero-section">
  <div class="hero-text">
    <h1 class="hero-title">
      Powering a Better Web
    </h1>
  </div>
  <div class="hero-description">
    <p>
      Hello, we're Halide Compression. We are building multimedia compression
      technology that is fast, efficient, and designed around the human visual
      system. We believe in a more beautiful Web, and we are here to help build
      it.
    </p>
  </div>
</section>

<div class="image-container">
  <picture>
    <img
      src="/img/hero/bouquet-med.avif"
      width="1536"
      height="864"
      alt="Bouquet of Flowers"
    />
  </picture>
</div>
{% endblock content %}
