{% extends "base.html" %} {% block content %}
<section class="hero-section">
  <div class="hero-text">
    <h1 class="hero-title">
      Iris
    </h1>
  </div>
  <div class="hero-description">
    <p>
      Iris is a fast & efficient image encoder built to help provide a more
      beautiful Web. Designed around the intricacies of the human visual system
      and thoroughly evaluated under industry-leading psychovisual metrics, Iris
      takes Web-first image compression technology to a new level.
    </p>
  </div>
</section>
<div class="image-container">
  <picture>
    <img
      src="/img/hero/sun-med.avif"
      width="1536"
      height="864"
      alt="Sun Peering Through Trees"
    />
  </picture>
</div>
<h1>
  Iris for WebP
</h1>
<p>
  In its speed class, Iris-WebP is the most efficient image encoder available.
  Images encoded with Iris-WebP look significantly better than those encoded
  with the reference WebP encoder, and Iris-WebP's performance outclasses
  encoders for slower, newer Web-first formats like AVIF. WebP support is also
  currently ubiquitous, and large websites serve billions of WebP images every
  single day.
</p>
<section class="performance-tiles">
  <div class="performance-tile">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="oklch(0.2 0.047 83)"
      class="tile-icon"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <h3>Fast</h3>
    <p>
      Iris-WebP's slowest encodes are close to AVIF's fastest, making it faster
      than competing modern Web codecs while still delivering exceptional
      quality.
    </p>
  </div>
  <div class="performance-tile">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="oklch(0.2 0.047 83)"
      class="tile-icon"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 9.75V12m0 0l4.754 4.754M12 12L7.246 16.754M12 12v2.25m0-12a9 9 0 110 18 9 9 0 010-18zm0 12.75a1.5 1.5 0 110-3 1.5 1.5 0 010 3z"
      />
    </svg>
    <h3>Efficient</h3>
    <p>
      Achieve up to 45% better compression than the best JPEG encoders, leading
      to faster page load times and greatly reduced bandwidth.
    </p>
  </div>
  <div class="performance-tile">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="oklch(0.2 0.047 83)"
      class="tile-icon"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <h3>High Quality</h3>
    <p>
      Iris-WebP is designed with the human visual system in mind, allowing up to
      26% better compression than the reference WebP encoder.
    </p>
  </div>
</section>
<script src="/js/image_switcher.js"></script>
<section class="image-switcher">
  <h1>See the Difference</h1>
  <p>
    Click the buttons below to switch between different encoders. The image
    below comes from <a
      href="https://github.com/WyohKnott/image-formats-comparison/blob/gh-pages/comparisonfiles/subset1/Original/End_of_Show_3.png"
      target="_blank"
    >Daala's subset1</a> image test suite.
  </p>
  <div id="iris-switcher" class="image-container"></div>
  <p>
    Iris-WebP's visual performance is unparalleled. Designing lossy image
    compression around the human eye allows us to provide an encoder capable of
    delivering an uptick in quality of experience that users notice.
  </p>
</section>
<script src="/js/metric_switcher.js"></script>
<section class="metric-switcher">
  <h1>Metrics</h1>
  <p>
    The numbers below were aggregated using the <a
      href="https://github.com/MohamedBakrAli/Kodak-Lossless-True-Color-Image-Suite/tree/master/PhotoCD_PCD0992"
    >Kodak Lossless True Color Image Suite</a> using the <a
      href="https://github.com/cloudinary/ssimulacra2/blob/main/README.md"
    >SSIMULACRA2</a>
    metric.
  </p>
  <div id="metrics-switcher" class="image-container"></div>
</section>
<p>
  Compared to libjpeg's encoder, Iris-WebP achieves over 77% better compression
  on average. Compared to the highly efficient jpegli, Iris is up to 45% better.
  Within the same WebP codec, Iris outperforms the reference WebP encoder
  included in libwebp by up to 26%.
</p>
<h1>
  Using Iris-WebP
</h1>
<p>
  A commercial license from Halide Compression means guaranteed ongoing support,
  as well as access to new Iris-WebP releases and maintenance fixes over time.
</p>
<p>
  An Iris-WebP license is an investment in the future of web image compression
  in pursuit of a more beautiful web. If you'd like to use Iris today, send us
  an email!
</p>
<div class="call-to-action">
  <a href="mailto:mail@halide.cx" class="cta-button">Email Us</a>
</div>
{% endblock content %}
